<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google-site-verification" content="HIJ8subC02PS-0yFUgdkswU0LQdQEW6voGgaAIQOlxY" />
  <title>Webones.GitHub.io by webONES</title>
  <link rel="stylesheet" href="{{site.url}}/stylesheets/styles.css">
  <link rel="stylesheet" href="{{site.url}}/stylesheets/pygment_trac.css">
  <link rel="stylesheet" href="{{site.url}}/stylesheets/webones.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
